<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery UI Droppable - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
<body>
<form name="login" id="ctr_form" method="GET" action="/test2send/">
  user name:<INPUT type="text" name="user" id="user" value=""><br>
  password:<INPUT type="text" name="password" id="password" value=""><br>
  <INPUT type="submit" name="namae" id="button" value="test">
</form>

</body>
</html>
